
 /* GENERAL STYLES */

:root {
  --color-text-default: #E5EEFF;
  --color-text-secondary: #8B8FA5;
  --color-text-white: #fff;
  --color-main: #4EBFFF;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", 'Montserrat', sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: #030023;
}

.body::before {
  content: '';
  display: block;
  width: 1006px;
  height: 1006px;
  position: absolute;
  top: -402px;
  left: -444px;
  z-index: 3;
  pointer-events: none;
  user-select: none;
  background: radial-gradient(50% 50% at 50% 50%, rgba(114, 196, 255, 0.15) 0%, rgba(114, 196, 255, 0) 100%);
}

button {
  font-family: inherit;
}

ul {
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

h2, h3, h4 {
  margin: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.gradient-1006px-before::before {
  content: '';
  display: block;
  width: 1006px;
  height: 1006px;
  position: absolute;
  user-select: none;
  pointer-events: none;
  background: radial-gradient(50% 50% at 50% 50%, rgba(114, 179, 255, 0.15) 0%, rgba(114, 196, 255, 0) 100%);
}

.gradient-1006px-after::after {
  content: '';
  display: block;
  width: 1006px;
  height: 1006px;
  position: absolute;
  user-select: none;
  pointer-events: none;
  background: radial-gradient(50% 50% at 50% 50%, rgba(114, 179, 255, 0.15) 0%, rgba(114, 196, 255, 0) 100%);
}

.gradient-1476px::before {
  content: '';
  display: block;
  width: 1476px;
  height: 1476px;
  position: absolute;
  user-select: none;
  pointer-events: none;
  background: radial-gradient(50% 50% at 50% 50%, rgba(244, 114, 255, 0.27) 0%, rgba(114, 196, 255, 0) 100%);
}


.border-button {
  padding: 15.5px 35px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  border-radius: 100px;
  border: 2px solid #fff;
  background: transparent;
  cursor: pointer;
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.border-button:hover {
  border: 2px solid var(--color-main);
  color: var(--color-main);
}

.solid-button {
  padding: 20px 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-text-default);
  border-radius: 100px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  border: none;
  box-shadow: 5px 5px 50px rgba(149, 123, 255, 0.15);
  background: var(--color-main);
  cursor: pointer;
}

.text-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-main);
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  filter: drop-shadow(5px 5px 50px rgba(149, 123, 255, 0.15));
  background: transparent;
  cursor: pointer;
  text-decoration: none;
}

.main-content {
  flex-grow: 1;
  min-height: 100%;
  position: relative;
}

.padding {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  max-width: 1480px;
}

/* HEADER */

.header {
  z-index: 2;
  width: 100%;
  /* transition: all 0.1s ease-in-out; */
  position: absolute;
  top: 0;
}

.header--scrolled {
	z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}



.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 25px 0;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  z-index: 111111;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item:not(:first-child) {
  margin-left: 25px;
}

.nav__link {
  width: 100%;
  height: 100%;
  color: var(--color-text-secondary);
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
}

.nav__link:hover {
  color: var(--color-text-default);
}

.nav__link-active {
  color: var(--color-text-default);
}

.header__button {
  display: inline-block;
  text-decoration: none;
  margin-left: 25px;
}

/* select */

.select {
  height: 55px;
  width: 55px;
  position: relative;
  cursor: pointer;
}

.slct {
	display: block;
	border-radius: 50%;
	color: #444;
  width: 100%;
  height: 100%;
  border: 10px solid #1e1c3b;
  transition: all 0.2s ease-in-out;
}

.slct:hover {
  border: 7px solid rgba(78, 191, 255, 0.5);;

}

.slct-image {
  width: 100%;
  height: 100%;
  display: none;
}

.drop {
	background: #050326;
	width: 200px;
  height: 116px;
  border: 2px solid #1e1c3b;
  border-radius: 15px;
	display: none;
	position: absolute;
  left: -4px;
  z-index: 9999;
  top: 66px;
  backdrop-filter: blur(20px);
  padding: 25px 0 0 28px;
}


.drop::before {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  left: 15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #1e1c3b;
  /* border-bottom: 15px solid #1e1c3b; */
  display: block;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.drop__item {
	display: block;
	cursor: pointer;
  color: var(--color-text-default);
}

.drop__item:hover {
  color: var(--color-main);
}

.drop__item:not(:first-child) {
  margin-top: 14px;
}

.drop__item-active {
  color: var(--color-main);
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/**/

/* HERO */

.hero {
  padding-top: 175px;
  z-index: -1;
}

.hero::before {
  top: -84px;
  right: -70px;
  z-index: -1;
}

.hero__h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: var(--color-text-white);
  max-width: 930px;
  pointer-events: none;
  margin-block-start: 0;
  margin-block-end: 0;
}
.hero__description {
  color: var(--color-text-default);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 713px;
  pointer-events: none;
  margin-top: 35px;
}

.hero__buttons {
  margin-top: 35px;
}

.hero__text-button {
  margin-left: 40px;
}

.hero__btn {
  text-decoration: none;
  display: inline-block;
}

.hero__details {
  display: flex;
  align-items: center;
  max-width: 600px;
  margin-top: 135px;
}

.details__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  user-select: none;
}

.details__item:not(:first-child) {
  margin-left: 25px;
}

.details__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: var(--color-text-white);
  margin-left: 10px;
}

.hero-container {
  position: relative;
}

.hero-container::before {
  content: '';
  display: block;
  width: 525px;
  height: 0px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  bottom: 80px;
  left: 0;
  pointer-events: none;
  user-select: none;
}


.hero-container::after {
  content: '';
  display: block;
  max-width: 1153px;
  width: 100%;
  height: 1153px;
  background: url(./images/hero-blockchain.svg) center center no-repeat;
  position: absolute;
  right: -251px;
  top: -63px;
  z-index: -1;
  background-size: 100% auto;
  background-position: right bottom;
}

.hero__scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  max-width: 153px;
  margin-top: 85px;
}

.scroll__text {
  margin-left: 15px;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: var(--color-text-default);
}

/*ABOUT*/

.about {
  padding-top: 242px;
  padding-bottom: 614px;
  overflow: hidden;
  position: relative;
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(156, 250, 255, 0.1);
}

.about__info {
  position: relative;
  max-width: 543px;
  margin-right: 210px;
}

.about__caption {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: var(--color-text-default);
  pointer-events: none;
}

.about__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-top: 35px;
  pointer-events: none;
  color: var(--color-text-default);
}

.numbers__list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  pointer-events: none;
  flex-grow: 1;
  margin-top: 50px;
}

.numbers__item {
  position: relative;
}


.numbers__item-ru:not(:first-child) {
  margin-left: 72.5px;
}

.numbers__item::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background: url(./images/rectangle.svg);
  position: absolute;
  bottom: -78px;
  left: 0;
}

.numbers__item--max-profit::before {
  background: url(./images/rectangle-max-profit.svg);
}

.numbers__sum {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.15);
  background: linear-gradient(110.5deg, #257AFF 0%, #59ACFF 96.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.numbers__sum--dollar {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.numbers__sum--to {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
}


.numbers__sum--max-profit {
  background: linear-gradient(101.53deg, #8CA6E5 0%, #9CFAFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.numbers__text {
  color: var(--color-text-secondary);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 15px;
}

.advantages__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  pointer-events: none;
  padding-top: 70px;
}

.advantages__item {
  max-width: 318px;
}

.advantages__item:not(:first-child) {
  margin-left: 55px;
}

.advantages__caption {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: var(--color-text-white);
  margin-top: 25px;
}

.advantages__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-text-default);
  margin-top: 25px;
}

.screen-mac-relative {
  position: relative;
  height: 0px;
  width: 100%;
}

.screen-mac {
  padding-top: 60px;
  max-width: 1235px;
  width: 100%;
  height: 759px;
  background: url(./images/illustration.svg) no-repeat;
  background-size: 100% auto;
  background-position: right bottom;
  background-color: #03011D;
  border: 5px solid rgba(45, 130, 255, 0.07);
  box-shadow: 50px 50px 200px rgba(0, 0, 0, 0.15);
  border-radius: 60px;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.screen-mac::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -99px;
  left: -111px;
  width: 270px;
  height: 247.78px;
  background: url(./images/screen-mac-decor.svg) center center no-repeat;
}

.sreen-mac__header {
  display: flex;
  align-items: center;
  margin-right: 50px;
  justify-content: space-between;
  height: 61px;
  max-width: 1105px;
  overflow: hidden;
}

.sreen-mac__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.sreen-mac__image {
}

.sreen-mac__search-field {
  background: #03011D;
  height: 61px;
  max-width: 924px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  margin-left: 30px;
  display: flex;
  align-items: center;
}

.sreen-mac__url, .sreen-mac__url_mobile {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-text-default);
  display: block;
  margin-left: 24px;
}
.sreen-mac__url_mobile{
  display: none;
  margin-left: 0;
  margin-top: 50px;
  margin-bottom: 10px;
}


.screen-mac-content {
  margin-top: 75px;
  margin-left: 125px;
  max-width: 557px;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
}

.screen-mac__guarantee {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.screen-mac__caption  {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--color-text-white);
  margin-top: 43px;
}

.screen-mac__description {
  margin-top: 35px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-text-default);
}

.screen-mac__button {
  margin-top: 44px;
  text-decoration: none;
  max-width: 147px;
}

/* CALCULATOR */

.calculator-section {
  padding-top: 558px;
  padding-bottom: 156px;
  position: relative;
  height: 1257px;
  overflow: hidden;
}


.calculator-section::before {
  top: -305px;
  right: -53px;
}

.calculator-section::after {
  top: -454px;
  left: -19px;
  z-index: -1;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.calculator-container::after {
  bottom: -658px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -75;
}

.calc-right-decor {
  content: '';
  display: block;
  width: 310px;
  height: 430px;
  position: absolute;
  bottom: -43px;
  z-index: -1;
  right: 0;
  background: url(./images/calc-right-decor.svg) no-repeat;
}

.calc-right-decor::before {
  z-index: -80;
  bottom: -381px;
  right: -440px;
}

.calc-left-decor {
  content: '';
  display: block;
  width: 310px;
  height: 430px;
  position: absolute;
  bottom: -99px;
  z-index: -1;
  left: -44px;
  background: url(./images/calc-left-decor.svg) center center no-repeat;
}

.calc-left-decor::before {
  z-index: -80;
  bottom: -381px;
  right: -440px;
}


.calculator__caption {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: var(--color-text-white);
}

.calculator__description {
  color: var(--color-text-default);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 60px;
}

.range-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 177px;
}

.input-container {
  max-width: 481px;
  width: 100%;
}

.input-container:not(:first-child) {
  margin-left: 172px;
}

.irs--round .irs-line {
  height: 15px;
  border-radius: 100px;
}

.irs--round .irs-bar {
  height: 15px;
  background: var(--color-main);
  border-radius: 100px;
}

.irs--round .irs-handle {
  border: 10px solid var(--color-text-white);
  width: 35px;
  height: 35px;
  background-color: var(--color-main);
  cursor: pointer;
}


.irs--round .irs-handle.state_hover, .irs--round .irs-handle:hover {
  background-color: var(--color-main);
}

.irs--round .irs-min, .irs--round .irs-max {
  font-family: 'Poppins', sans-serif;
  color: var(--color-text-default);
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  transition: visibility .1s ease-in-out;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single {
  background-color: transparent;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-text-white);
}

.irs-from, .irs-to, .irs-single {
  top: -27px;
  left: 0;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
  display: none;
}

.irs-max {
  right: -10px;
}

.profit-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 125.5px;
}
.profit-list__item {
  min-width: 140px;
  min-height: 40px;
  pointer-events: none;
}

.profit-list__value {
  font-weight: 500;
  font-size: 30px;
  line-height: 20px;
  color: #fff;
}

.profit-list__caption {
  color: var(--color-text-secondary);
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 22px;
}
.profit-list__item:nth-child(2) {
  margin-left: 70px;
}
.profit-list__item:nth-child(3) {
  min-width: 191px;
  margin-left: 95px;
}

#profit {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  color: var(--color-main);
}

#profit+.profit-list__caption {
  margin-top: 11px;
  color: var(--color-text-default);
}

.button-relative {
  position: relative;
  height: 0;
  width: 100%;
}
.button-relative__mobile{
  display: none;
}

.button-absolute {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-decoration: none;
  z-index: 11111;
}

/* STEPS */

.steps {
  padding-top: 211px;
  position: relative;
  z-index: 1;
}

.steps-decor-right::before {
  top: 160px;
  right: -423px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  margin-top: 185px;
  align-items: center;
}

.steps__note {
  color: var(--color-text-secondary);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.steps__first-block {
  max-width: 589px;
  min-width: 589px;
}

.steps__second-block {
  max-width: 445px;
  position: relative;
}

.steps__second-block::before {
  content: '';
  display: block;
  width: 0px;
  height: 455px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  left: -170px;
  top: 15px;
}

.steps__caption {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: var(--color-text-white);
  max-width: 441px;
}

.reasons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 176px;
}

.reasons__caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text-white);
  min-height: 73px;
}

.reasons__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: var(--color-text-default);
  margin-top: 24px;
}

.steps__buttons {
  margin-top: 63px;
}

.reasons__text-btn {
  margin-left: 52px;
}

.steps__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.steps__item {
  position: relative;
}

.steps__item:not(:first-child) {
  margin-top: 81px;
}

.steps__item::before {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  color: var(--color-text-secondary);
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  left: -48px;
  top: 0;
}

.steps__item::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  background: url(./images/rectangle.svg);
  left: -176px;
  top: 15px;
}

.steps__item:nth-child(1)::before {
  content: '01.';
}

.steps__item:nth-child(2)::before {
  content: '02.';
}

.steps__item:nth-child(3)::before {
  content: '03.';
}

.steps__variant {
  color: var(--color-text-default);
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
}

.steps__description {
  margin-top: 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-default);
}

/* CRYPTO-EXCHANGES */

.crypto__exchanges {
  position: relative;
  padding-top: 233px;
  padding-bottom: 130px;
  z-index: 0;
}


.crypto__exchanges-decor-left::after {
  bottom: -428px;
  left: -167px;
  z-index: -1;
} 

.crypto-exchanges-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.crypto-exchanges__caption {
  max-width: 421px;
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: var(--color-text-white);
}

.exchanges__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 689px;
  margin-left: 206px;
}

.exchange__item {
  display: flex;
  align-items: center;
  z-index: 2;
  margin-bottom: 20px;
}

.exchange__link svg:hover g {
  opacity: 1;
  cursor: pointer;
}

/* PLANS */

.plans {
  position: relative;
}

.plans-decor-left::after {
  top: 98px;
  left: 22px;
}
.plans-decor-left::before {
  top: 0;
  right: 0;
}

.plans-card-decor {
  background: url(./images/plans-decor.svg) center center no-repeat;
  display: block;
  width: 230px;
  height: 230px;
  position: absolute;
  bottom: -97px;
  left: 59px;
}

.plans__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(255, 255, 255, 0.01);
  border: 4px solid rgba(255, 255, 255, 0.03);
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(40px);

  border-radius: 60px;
  max-width: 1600px;
  margin: 0 auto;

  padding: 101px 153px 101px 60px;
}

.plans__item {
  display: flex;
  flex-direction: column;
  min-height: 496px;
}

.plans__caption {
  color: var(--color-text-default);
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
}

.items__list {
  margin-top: 50px;
}

.list__item {
  color: var(--color-text-default);
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.list__item--general {
  color: var(--color-text-secondary);
  font-weight: 400;
}

.plans__btn {
  display: block;
  margin-top: 50px;
  max-width: 195px;
}

.plans__btn--unique {
  display: block;
  margin-top: 70px;
}

.plans__tariff {
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
}

.standart {
  color: var(--color-text-white);
}

.gold {
  color: #FDD341;
}

.platinum {
  color: #7392CE;
}

.vip {
  color: var(--color-main);
}

.list__item:not(:first-child), .plans__value:not(:first-child) {
  margin-top: 30px;
}


/* DEPOSITS */
.deposits {
  padding-top: 222px;
  padding-bottom: 207px;
}

.deposits-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.deposits__info {
  max-width: 434px;
}

.deposits__caption {
  color: var(--color-text-white);
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
}
.deposits__description {
  color: var(--color-text-secondary);
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  margin-top: 147px;
  position: relative;
}
/* .deposits_first-block {
  position: relative;
} */
.deposits__description::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  top: -87px;
  right: -60px;
  background: url(./images/rectangle.svg) center center no-repeat;
}

.deposits__description::after {
  content: '';
  display: block;
  width: 1000px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: -80px;
  left: -520px;
}

.deposits__list {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 750px;
}

.deposits__item {
  display: flex;
  justify-content: flex-end;
  min-width: 250px;
}


/*FOOTER*/
.footer {
  padding: 80px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  position: relative;
  background: #010F2C;
}

.footer-decor-right {
  position: absolute;
  width: 285px;
  height: 666px;
  right: -21px;
  top: -291px;
  z-index: 1;
  background: url(./images/footer-decor.svg) center center no-repeat;
}
.footer-decor-right::before {
  top: -427px;
  left: -183px;
  z-index: -1;
}
.main-decor-left::after {
  bottom: -241px;
  left: -462px;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.payment-systems {
  max-height: 27px;
  max-width: 74px;
  display: flex;
}
.payment-systems__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: left;
}

.payment-systems__image:not(:first-child) {
  margin-left: 30px;
}

.footer__column {
  display: flex;
  align-items: flex-start;
  min-height: 391px;
  flex-direction: column;
  justify-content: stretch;
  max-width: 360px;
}

.footer__column--first {
  min-width: 287px;
}

.copyright {
  flex-grow: 1;
  margin-top: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-text-secondary);
}

.footer__section {
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  color: var(--color-text-default);
}
.footer__links {
  margin-top: 50px;
}

.footer__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color:var(--color-text-secondary);
  text-decoration: none;
}

.footer__link:hover {
  color:var(--color-text-default);
}

.footer__item:not(:first-child) {
  margin-top: 30px;
}

.contacts__description {
  margin-top: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text-secondary);
}

.contacts__item {
  margin-top: 30px;
}

.contacts__link {
  color: var(--color-main);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* PARALLAX */

.parallax {

}

#parallax1 {
  background: url(./images/parallax1.svg) center center no-repeat;
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: -308px;
  left: -265px;
  z-index: -1;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax2 {
  background: url(./images/parallax2.svg) center center no-repeat;
  position: absolute;
  width: 300px;
  height: 300px;
  top: 49px;
  right: -154px;
  z-index: -1;
}

#parallax3 {
  background: url(./images/parallax3.svg) center center no-repeat;
  position: absolute;
  width: 300px;
  height: 300px;
  top: -214px;
  left: -221px;
  z-index: -1;
}

#parallax4 {
  background: url(./images/parallax4.svg) center center no-repeat;
  position: absolute;
  width: 140px;
  height: 140px;
  top: 158px;
  left: 40px;
  z-index: -1;
}


#parallax5 {
  background: url(./images/parallax5.svg) center center no-repeat;
  position: absolute;
  width: 178px;
  height: 178px;
  bottom: 116px;
  left: 111px;
  z-index: -1;
}

#parallax6 {
  background: url(./images/parallax6.svg) center center no-repeat;
  position: absolute;
  width: 370px;
  height: 370px;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#parallax7 {
  background: url(./images/parallax7.svg) center center no-repeat;
  position: absolute;
  width: 105px;
  height: 105px;
  bottom: 168px;
  right: 28px;
  z-index: -1;
}

#parallax8 {
  background: url(./images/parallax8.svg) center center no-repeat;
  position: absolute;
  width: 136px;
  height: 136px;
  bottom: 104px;
  right: -213px;
  z-index: -1;
}


#parallax9 {
  background: url(./images/parallax9.svg) center center no-repeat;
  position: absolute;
  width: 280px;
  height: 280px;
  bottom: -102px;
  right: -94px;
  z-index: -1;
}

#parallax10 {
  background: url(./images/parallax10.svg) center center no-repeat;
  position: absolute;
  width: 574px;
  height: 1028px;
  bottom: -1100px;
  left: -6px;
  z-index: -1;
}


.burger-btn {
  display: none;
  min-width: fit-content;
  min-height: fit-content;
  background: transparent no-repeat;
  border: 1px solid transparent;
  width: 20px;
  height: 12px;
  outline: none;
}

.burger-image {
  width: 100%;
}

.close-image {
  display: none;
  width: 100%;
}






/* MEDIA REQUESTS  */


@media screen and (max-width: 1520px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
 @media screen and (max-width: 1000px) {
   .nav, .header__actions {
     display: none;
   }

   .header-container {
     padding: 15px;
   }

   .burger-btn {
     display: block;
   }

   .header {
     position: static;
   }

   .logo {
     max-width: 148px;
   }
}
@media screen and (max-width: 760px) {

  .main-decor-left{
    display: none;
  }
  .gradient-1476px::before {
    display: none;
  }


  .gradient-688px::before {
    content: '';
    display: block;
    width: 688px;
    height: 688px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    user-select: none;
    pointer-events: none;
    background: radial-gradient(50% 50% at 50% 50%, rgba(244, 114, 255, 0.27) 0%, rgba(114, 196, 255, 0) 100%);
  }

  .body::before {
    display: none;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .main-content {
    overflow-x: hidden;
    padding-top: 50px;
  }

  #main-content {
    z-index: -22222;
  }

  .hero {
    padding-top: 0;
    background: url(./images/blockchain-mobile.svg) no-repeat;
    background-position: right -3px bottom -68px;
  }
  .hero__h1 {
    font-size: 35px;
    line-height: 45px;
  }

  .hero__description {
    font-size: 16px;
    line-height: 24px;
    margin-top: 25px;
  }

  .hero-container::before {
    display: none;
  }

  .hero::before {
    display: none;
  }

  .hero__buttons {
    margin-top: 25px;
  }

  .solid-button {
    padding: 14px 25px;
    font-size: 15px;
    line-height: 22px;
  }

  .hero__text-button {
    margin-left: 25px;
    font-size: 15px;
    line-height: 22px;
  }

  .hero__details {
    margin-top: 55px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .details__item:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
  .hero-container::after {
    display: none;
  }

  .hero__scroll {
    display: none;
  }

  .about {
    padding-top: 90px;
    padding-bottom: 0;
    min-height: auto;
  }

  .about__caption {
    font-size: 30px;
    line-height: 40px;
  }

  .about__description {
    margin-top: 31px;
  }


  .about__container {
    border: none;
  }
  .numbers__item::before {
    display: none;
  }
  .numbers__item:not(:first-child) {
    margin-left: 0;
    margin-top: 30px;
  }
  .about__container {
    padding-bottom: 0;
  }
  .advantages__item {
    max-width: 100%;
    margin-top: 55px;
  }

  .advantages__item:nth-child(2) {
    margin-top: 0;
  }

  .advantages__item:not(:first-child) {
    margin-left: 0;
  }
  .screen-mac-relative {
    height: auto;
    position: static;
  }
  .screen-mac {
    position: static;
  }

  .payment-systems {
    margin-top: 25px;
  }
  .footer__list {
    flex-wrap: wrap;
  }

  .footer__column {
    width: 100%;
    min-height: auto;
  }
  .footer-decor-right {
    display: none;
  } /*need*/

  .footer__column:not(:first-child) {
    margin-top: 45px;
  }
}
































.plans__mobile{
  display: none;
}
 .plans__mobile .plans__btn--unique{
   margin-top: 50px;
 }
.plans__mobile .plans__slick__slider{
   margin-top: 50px;
 }

 .plans__mobile .slick-track .slick-slide{
   margin-right: 15px;
 }



 .plans__mobile .plans__item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgba(255, 255, 255, 0.01);
   border: 4px solid rgba(255, 255, 255, 0.03);
   box-shadow: 50px 50px 100px rgb(0 0 0 / 15%);
   border-radius: 60px;
   padding: 35px 25px;
   min-width: 312px;
 }


 @media screen and (max-width: 1520px) {
   .steps__second-block::before{
     left: -70px;
   }
   .steps__item::after{
     left: -76px;
   }
 }
 @media screen and (max-width: 1400px) {
   .plans__desktop {
     padding: 35px 25px;
   }
 }

 @media screen and (max-width: 1300px) {
   .plans__desktop {
     padding: 35px 25px;
   }
 }

 @media screen and (max-width: 1200px) {
   .container {
     padding-left: 15px;
     padding-right: 15px;
   }

   .range-container{
     flex-direction: column;
     margin-top: 80px;
   }
   .range-container .input-container:not(:first-child){
     margin-left: 0;
     margin-top: 50px;
   }
   .calculator__description{
     margin-top: 50px;
   }
   .steps-container{
     margin-top: 50px;
   }

   .steps{
     padding-bottom: 120px;
   }
   .reasons{
     margin-top: 50px;
   }
   .reasons__item{
     padding-right: 50px;
   }
   .steps__first-block{
     max-width: none;
   }
   .steps-container{
     align-items: flex-start;
     flex-direction: column;
   }
   .steps__second-block{
     padding-top: 80px;
     padding-left: 150px;
     max-width: 600px;
   }
   .steps__second-block::before {
     top: 103px;
     left: 2px;
   }
   .steps__item::after{
     left: -154px;
   }
   .crypto-exchanges-container{
     flex-direction: column;
     align-items: flex-start;
   }
   .crypto-exchanges-container .crypto-exchanges__caption{
      margin-bottom: 50px;
   }
   .crypto-exchanges-container .exchanges__list{
      margin-left: 0;
      max-width: none;
   }
   .crypto-exchanges-container .exchange__item{
     margin-bottom: 40px;
   }
   .plans__desktop {
     display: none;
   }
   .plans__mobile {
     display: block;
   }

   .deposits{
     padding-top: 90px;
     padding-bottom: 75px;
   }

   .deposits .deposits-container{
     flex-direction: column;

   }
   .deposits .deposits__description{
     margin-top: 85px;
     margin-bottom: 35px;
   }
   .deposits .deposits__description::after{
     top: -46px;
   }
   .deposits .deposits__description::before{
     top: -53px;
   }
   .deposits .deposits__item{
     margin-bottom: 45px;
   }
 }



 @media screen and (max-width: 1000px) {
   .footer{
     padding-top: 50px;
   }
   .footer__list{
     flex-direction: row;
     flex-wrap: wrap;
   }
   .footer__column{
     min-height: 0;
     max-width: none;
     margin-bottom: 50px;
   }
   .footer__column--first{
     display: block;
   }
   .footer__column--first p{
     margin: 25px 0;
   }
 }
 @media screen and (max-width: 850px) {
   .footer__list{
     flex-direction: column;
   }
   .footer-decor-right{
     display: none;
   }
 }
 @media screen and (max-width: 768px){
   .about__info {
     margin-right: 0;
   }
   .screen-mac-relative{
     height: auto;
   }
   .screen-mac{
     transform:none;
     padding-top: 35px;
     position: relative;
     left: auto;
     bottom: auto;
   }
   .screen-mac__guarantee{
     font-size: 16px;
     line-height: 22px
   }
   .sreen-mac__header{
     margin-right: 0;
     height:auto;
   }
   .screen-mac-content{
     margin-left: 25px;
     margin-top: 115px;
     display: block;
   }
   .screen-mac__caption{
     font-size: 30px;
     line-height: 40px;
   }
   .screen-mac__description {
     font-size: 15px;
     line-height: 24px;
   }
   .screen-mac__button{
     max-width: none;
     display: inline-block;
   }
   .about{
     padding-bottom: 0;
   }
   .advantages__list{
     flex-direction: column;
     align-items:start;
   }
   .advantages__item:not(:first-child){
     margin-left: 0;
   }
   .sreen-mac__search-field{
     display: none;
   }
   .sreen-mac__url_mobile{
     display: block;
   }
   .screen-mac::before{
     display: none;
   }
   .calculator-container{
     align-items: start;
   }
   .calculator-section{
     padding-top:115px;
     height: auto;
     min-height: 1050px;
   }
   .calculator__caption{
     font-size: 30px;
     line-height: 40px;
   }
   .calculator__description{
     margin-top: 20px;
     font-size: 15px;
   }
   .range-container{
     margin-top: 80px;
   }
   .range-container .input-container:not(:first-child){
     margin-top: 80px;
   }
   .profit-list{
     margin-top: 70px;
     align-items: flex-start;
     justify-content: flex-start;
     flex-direction: row;
   }
   .profit-list__item{
     min-width: 170px;
     min-height: 0;
     margin-bottom: 50px;
     margin-left: 0;
   }
   .profit-list__item:nth-child(3), .profit-list__item:nth-child(2){
     margin-left: 0;
   }
   .button-relative{
     display: none;
   }
   .button-relative__mobile{
     display: block;
   }
   .calc-right-decor{
     bottom: -90px;
   }
   .steps{
     margin-top: 50px;
     padding-top: 0;
   }
   .steps__note{
     font-size: 18px;
     line-height: 27px;
   }
   .steps-container{
     margin-top: 40px;
   }
   .steps__first-block{
     min-width: auto;
   }
   .steps__caption{
     font-size: 30px;
     line-height: 40px;
   }
   .reasons{
     margin-top: 0;
     flex-direction: column;
   }
   .reasons__item{
     padding-right: 0;
     margin-top: 45px;
   }
   .reasons__caption{
     font-size: 18px;
     min-height: 0;
   }
   .reasons__description{
     font-size: 15px;
   }
   .steps__buttons{
     display: flex;
     align-items: center;
     margin-top: 40px;
   }
   .steps__second-block{
     margin-top: 50px;
     padding-top: 0;
     padding-left: 75px;
   }
   .steps__variant, .steps__item::before{
     font-size: 20px;
     line-height: 30px;
   }
   .steps__description{
     max-width: 270px;
     font-size: 15px;
     line-height: 24px;
     margin-top: 30px;
   }
   .steps__item:not(:first-child){
     margin-top: 90px;
   }
   .steps__second-block::before{
     left: 0;
     top: 20px;
     height: 483px;
   }
   .steps__item::after{
      left: -82px;
      top: 8px;
   }
   .crypto-exchanges__caption {
     max-width: none;
     font-size: 30px;
     line-height: 40px;
   }
   .plans__tariff{
      font-size: 25px;
   }
   .list__item{
     font-size: 15px;
     line-height: 20px;
   }
   .plans__btn{
     font-size: 15px;
     line-height: 22px;
   }
   .plans-card-decor{
     left: auto;
     right: 0;
     bottom: -135px
   }
   #parallax6{
     left: -145px;
     right: auto;
   }
   .deposits__caption{
     font-size: 30px;
     line-height: 40px;
   }
   .deposits{
     padding-top: 0;
     padding-bottom: 0;
     margin-top: 115px;
   }
   .deposits__description{
     font-size: 16px;
     line-height: 24px;
   }
   .footer__column:last-child{
     margin-bottom: 0;
   }
   .crypto__exchanges{
     padding-top: 0;
     padding-bottom: 0;
   }
   .deposits__item{
     min-width: 160px;
   }

   .deposits__item img{
     max-width: 160px;
   }
   .deposits__list{
     justify-content: space-around;
   }
 }

